<header class="player-header">
    <h1 id="player-name"></h1>
    <button id="dismiss">
        <svg data-prefix="fas" data-icon="times-circle" class="svg-inline--fa fa-times-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z"></path>
        </svg>
    </button>
</header>
<div id="loading-container">
    <div id="loading-graphic"></div>
</div>
<div id="network-error" hidden>
    <p>There was a problem loading this player's stats. Please try again.</p>
    <p>If the problem persists, please <a href="https://github.com/aajfranklin/Click-And-Roll/issues" target="_blank">report the issue</a>.</p>
</div>
<main id="content">
    <section id="player-profile" class="stick-left">
        <div id="player-profile-content"></div>
    </section>
    <section id="career-stats">
        <nav class="stick-left">
            <ul>
                <li id="regular" class="active tab">Regular Season</li>
                <li id="post" class="tab">Postseason</li>
            </ul>
        </nav>
        <table id="regular-season-table" class="active">
            <tbody id="regular-season-body">
            <tr class="stat-headings">
                <th class="season-header season stick-left">Season</th>
                <th>Team</th>
                <th>Age</th>
                <th>GP</th>
                <th>MIN</th>
                <th>PTS</th>
                <th>OREB</th>
                <th>DREB</th>
                <th>REB</th>
                <th>AST</th>
                <th>TOV</th>
                <th>STL</th>
                <th>BLK</th>
                <th>FGM</th>
                <th>FGA</th>
                <th>FG%</th>
                <th>FG3M</th>
                <th>FG3A</th>
                <th>FG3%</th>
                <th>FTM</th>
                <th>FTA</th>
                <th>FT%</th>
                <th>PF</th>
            </tr>
            </tbody>
        </table>
        <table id="post-season-table">
            <tbody id="post-season-body">
            <tr class="stat-headings">
                <th class="season-header season stick-left">Season</th>
                <th>Team</th>
                <th>Age</th>
                <th>GP</th>
                <th>MIN</th>
                <th>PTS</th>
                <th>OREB</th>
                <th>DREB</th>
                <th>REB</th>
                <th>AST</th>
                <th>TOV</th>
                <th>STL</th>
                <th>BLK</th>
                <th>FGM</th>
                <th>FGA</th>
                <th>FG%</th>
                <th>FG3M</th>
                <th>FG3A</th>
                <th>FG3%</th>
                <th>FTM</th>
                <th>FTA</th>
                <th>FT%</th>
                <th>PF</th>
            </tr>
            </tbody>
        </table>
    </section>
</main>
