#click-and-roll-frame-container {
  height: calc(50vh + 2px);
  max-height: 500px;
  max-width: 825px;
  position: absolute;
  width: calc(50vw + 2px);
  z-index: 2147483647;
}

#click-and-roll-frame {
  height: 100%;
  overflow: visible;
  width: 100%;
}

#click-and-roll-frame-container, #click-and-roll-frame {
  border: none;
}
