:root {
  --main-background-color: white;
  --alt-background-color: whitesmoke;
  --header-background-color: teal;
  --toggle-background-color: lightgrey;
  --toggle-background-color-checked: teal;
  --slider-color: whitesmoke;
  --main-text-color: black;
  --alt-text-color: lightslategrey;
  --header-text-color: whitesmoke;
  --hover-text-color: whitesmoke;
  --active-tab-text-color: teal;
  --box-shadow-color: darkslategrey;
  --focus-shadow-color: lightskyblue;
  --border-color: lightgrey;
  --body-border-color: white;

}

.dark-mode {
  --main-background-color: #3d4144;
  --alt-background-color: #27292b;
  --main-text-color: whitesmoke;
  --alt-text-color: lightgrey;
  --active-tab-text-color: whitesmoke;
  --border-color: slategrey;
  --toggle-background-color: lightslategrey;
  --visited-link-color: lightgrey;
}

.dark-mode a {
  color: var(--main-text-color);
  text-decoration: underline;
}

.dark-mode a:visited {
  color: var(--visited-link-color);
}

body {
  background: var(--main-background-color);
  border: solid var(--body-border-color) 1px;
  border-bottom: none;
  font-family: Montserrat, arial, sans-serif;
  margin: 0;
  width: 225px;
}

header {
  background: var(--header-background-color);
  color: var(--header-text-color);
  display: flex;
  justify-content: center;
  z-index: 3;
}

h1 {
  font-size: 18px;
  margin: 0;
  padding: 6px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tab {
  background: var(--alt-background-color);
  border: solid 1px var(--alt-background-color);
  border-top: none;
  border-bottom: none;
  color: var(--alt-text-color);
  font-size: 14px;
  font-weight: bold;
  padding: 0.5em;
  text-align: center;
}

.tab:hover {
  background: var(--header-background-color);
  border: solid 1px var(--header-background-color);
  border-top: none;
  border-bottom: none;
  color: var(--hover-text-color);
}

.tab.active {
  background: var(--main-background-color);
  border: solid 1px var(--border-color);
  border-bottom: none;
  border-top: none;
  color: var(--active-tab-text-color)
}

#menu, #sites {
  flex-grow: 1;
}

main {
  padding: 8px;
}

section {
  font-size: 12px;
}

.tab-section {
  display: none;
}

.tab-section.active {
  display: block;
  height: 12em;
}

#sites-section {
  overflow-y: scroll;
}

#sites-toggle-container {
  align-items: center;
  color: var(--main-text-color);
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.named-toggle {
  display: flex;
  border: solid 1px var(--border-color);
}

.named-toggle-button {
  background: var(--alt-background-color);
  color: var(--alt-text-color);
  padding: 0.5em;
}

.named-toggle-button.active {
  background: var(--header-background-color);
  color: var(--header-text-color);
}

.named-toggle-button:hover {
  background: var(--main-background-color);
}

.named-toggle-button.active:hover {
  background: var(--header-background-color);
}

.tab-section ul {
  margin: 0;
  padding: 0;
}

.tab-section li:first-child {
  border-top: 1px solid var(--border-color);
}

.tab-section li {
  border: 1px solid var(--border-color);
  border-top: none;
  color: var(--main-text-color);
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
}

button {
  background: var(--alt-background-color);
  border-radius: 50%;
  color: var(--alt-text-color);
  height: 1em;
  margin-top: 1px;
  padding: 0;
  width: 1em;
}

button {
  border: none;
}

button > * {
  pointer-events: none;
}

button:hover {
  color: var(--header-background-color);
}

.toggle-group {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}

.toggle-text {
  color: var(--main-text-color);
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.toggle {
  display: inline-block;
  height: 28px;
  position: relative;
  width: 44px;
}

.toggle input {
  height: 0;
  opacity: 0;
  width: 0;
}

.slider, .slider-initial {
  background-color: var(--toggle-background-color);
  border-radius: 28px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.slider:before, .slider-initial:before {
  background-color: var(--slider-color);
  border-radius: 50%;
  bottom: 5px;
  content: "";
  height: 18px;
  left: 4px;
  position: absolute;
  width: 18px;
}

.slider, .slider:before {
  transition: 0.4s;
}

.slider-initial, .slider-initial:before {
  transition: 0s;
}

input:checked + .slider, input:checked + .slider-initial {
  background-color: var(--toggle-background-color-checked);
}

input:focus + .slider, input:focus + .slider-initial {
  box-shadow: 0 0 2px 3px var(--focus-shadow-color);
}

input:checked + .slider:before, input:checked + .slider-initial:before {
  transform: translateX(18px);
}

#links {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}

footer {
  padding: 0 8px 8px 8px;
}
