<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Click and Roll</title>
        <link rel = "stylesheet" type = "text/css" href = "./popup.css" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap" rel="stylesheet">
        <script src="../scripts/utils/jquery-3.4.1.js"></script>
        <script src="../scripts/utils/browser-polyfill.js"></script>
        <script src="../scripts/utils/config.js"></script>
        <script src="../scripts/utils/utils.js"></script>
        <script src="../scripts/popup/popup.js"></script>
        <script src="../scripts/popup/index.js"></script>
    </head>
    <body>
        <header>
            <h1>Click and Roll</h1>
        </header>
        <main>
            <section id="toggle-settings">
                <div class="toggle-group">
                    <div class="toggle-text">Toggle Click and Roll</div>
                    <label class="toggle">
                        <input type="checkbox" id="extension-toggle">
                        <span class="slider-initial"></span>
                    </label>
                </div>
                <div class="toggle-group">
                    <div class="toggle-text">Toggle for this site</div>
                    <label class="toggle">
                        <input type="checkbox" id="domain-toggle">
                        <span class="slider-initial"></span>
                    </label>
                </div>
                <div class="toggle-group">
                    <div class="toggle-text">Reverse career rows</div>
                    <label class="toggle">
                        <input type="checkbox" id="reverse-toggle">
                        <span class="slider-initial"></span>
                    </label>
                </div>
                <div class="toggle-group">
                    <div class="toggle-text">Dark mode</div>
                    <label class="toggle">
                        <input type="checkbox" id="dark-toggle">
                        <span class="slider-initial"></span>
                    </label>
                </div>
            </section>
            <section id="links">
                <a href="https://github.com/aajfranklin/Click-And-Roll">GitHub</a>
                <a href="https://github.com/aajfranklin/Click-And-Roll/issues">Report an issue</a>
                <a href="https://paypal.me/clickandroll">Donate</a>
            </section>
        </main>
    </body>
</html>

