<div id="click-and-roll-player-header">
    <div id="click-and-roll-player-name"></div>
    <div id="click-and-roll-dismiss"></div>
</div>
<div id="click-and-roll-stat-content">
    <div>
        <div class="click-and-roll-sub-heading">Player Profile:</div>
        <div id="click-and-roll-player-profile">
            <img src ="https://cdn.clipart.email/3cd6f4d8f61a5da065d31bc13bbd4d5b_generic-silhouette-at-getdrawingscom-free-for-personal-use-_600-600.jpeg" alt="Generic Silhouette" id="click-and-roll-player-profile-image"/>
            <div id="click-and-roll-player-profile-info">
                <div class="click-and-roll-player-profile-info-column">
                    <div class="click-and-roll-info-label">Team: </div>
                    <div class="click-and-roll-info-label">Number: </div>
                    <div class="click-and-roll-info-label">Position: </div>
                </div>
                <div class="click-and-roll-player-profile-info-column">
                    <div id="click-and-roll-info-team" class="click-and-roll-info-data"></div>
                    <div id="click-and-roll-info-number" class="click-and-roll-info-data"></div>
                    <div id="click-and-roll-info-position" class="click-and-roll-info-data"></div>
                </div>
                <div class="click-and-roll-player-profile-info-column">
                    <div class="click-and-roll-info-label">Birthday: </div>
                    <div class="click-and-roll-info-label">Height: </div>
                    <div class="click-and-roll-info-label">Weight: </div>
                </div>
                <div class="click-and-roll-player-profile-info-column">
                    <div id="click-and-roll-info-birthday" class="click-and-roll-info-data"></div>
                    <div id="click-and-roll-info-height" class="click-and-roll-info-data"></div>
                    <div id="click-and-roll-info-weight" class="click-and-roll-info-data"></div>
                </div>
                <div class="click-and-roll-player-profile-info-column">
                    <div class="click-and-roll-info-label">Country: </div>
                    <div class="click-and-roll-info-label">College: </div>
                    <div class="click-and-roll-info-label">Draft: </div>
                </div>
                <div class="click-and-roll-player-profile-info-column">
                    <div id="click-and-roll-info-country" class="click-and-roll-info-data"></div>
                    <div id="click-and-roll-info-college" class="click-and-roll-info-data"></div>
                    <div id="click-and-roll-info-draft" class="click-and-roll-info-data"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="click-and-roll-sub-heading">Career Stats:</div>
    <table id="click-and-roll-table">
        <tbody id="click-and-roll-season-averages-body">
        <tr>
            <th>Season</th>
            <th>Team</th>
            <th>Age</th>
            <th>GP</th>
            <th>GS</th>
            <th>MIN</th>
            <th>FGM</th>
            <th>FGA</th>
            <th>FG%</th>
            <th>FG3M</th>
            <th>FG3A</th>
            <th>FG3%</th>
            <th>FTM</th>
            <th>FTA</th>
            <th>FT%</th>
            <th>OREB</th>
            <th>DREB</th>
            <th>REB</th>
            <th>AST</th>
            <th>STL</th>
            <th>BLK</th>
            <th>TOV</th>
            <th>PF</th>
            <th>PTS</th>
        </tr>
        </tbody>
    </table>
</div>
