<div id="click-and-roll-player-header">
    <div id="click-and-roll-player-name"></div>
    <div id="click-and-roll-dismiss"></div>
</div>
<div id="click-and-roll-stat-content">
    <div id="click-and-roll-sub-heading">Career Stats:</div>
    <table id="click-and-roll-table">
        <tbody id="click-and-roll-season-averages-body">
        <tr>
            <th>Season</th>
            <th>Team</th>
            <th>Age</th>
            <th>GP</th>
            <th>GS</th>
            <th>MIN</th>
            <th>FGM</th>
            <th>FGA</th>
            <th>FG%</th>
            <th>FG3M</th>
            <th>FG3A</th>
            <th>FG3%</th>
            <th>FTM</th>
            <th>FTA</th>
            <th>FT%</th>
            <th>OREB</th>
            <th>DREB</th>
            <th>REB</th>
            <th>AST</th>
            <th>STL</th>
            <th>BLK</th>
            <th>TOV</th>
            <th>PF</th>
            <th>PTS</th>
        </tr>
        </tbody>
    </table>
</div>
